.bg-color--joy {
  background-color: #fdbf01;
}

.bg-color--sadness {
  background-color: #347bb9;
}

.bg-color--anger {
  background-color: #f98573;
}

.bg-color--disgust {
  background-color: #7ebb44;
}

.bg-color--fear {
  background-color: #c66acb;
}

#chat-screen .alt-screen-header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 18px;
  width: 100vw;
  box-sizing: border-box;
}

.chat-screen-header__column {
  width: 33%;
}

.chat-screen-header__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.chat-screen-header__column:last-child {
  display: flex;
  justify-content: flex-end;
}

.chat-screen-header__column:last-child i {
  margin-left: 20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: none;
  }
  1% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.chat-screen__main {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.8s linear;
}

.chat__date {
  width: 180px;
  height: 28px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 12px;
  font-weight: 400;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.chat__date:not(:first-child) {
  margin-top: 50px;
}

.message-row {
  width: 100vw;
  padding: 13px 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.message-row__content {
  height: 40px;
  margin-left: 10px;
}

.message__author {
  font-size: 14px;
}

.message__info {
  display: flex;
  align-items: flex-end;
  margin-top: 5px;
}

.message__bubble {
  background-color: white;
  padding: 8px;
  font-size: 14px;
  border-radius: 13px;
  border-top-left-radius: 0px;
}

.message__add-info {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.message__time,
.message__unread {
  display: block;
  font-size: 10px;
  color: var(--gray);
  margin-left: 5px;
}

.message__unread {
  color: white;
  margin-bottom: 3px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: #fee501;
  border-top-right-radius: 0px;
  border-top-left-radius: 13px;
  margin-right: 0px;
  margin-left: 5px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: white;
  padding: 8px 15px;
  box-sizing: border-box;
}
.reply__column {
  display: flex;
}

.reply__column:first-child {
  margin-right: 13px;
}

.reply__column:last-child {
  width: 98%;
  position: relative;
}

.reply i {
  color: var(--gray);
}

.reply input {
  padding: 7px 15px;
  width: 100%;
  /* box-sizing: border-box; */
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease-in-out;
}

.reply-column__emoticon-btn,
.reply-column__up-btn {
  position: absolute;
  right: 3px;
  top: 3px;
}

.reply-column__emoticon-btn {
  right: 40px;
  top: 10px;
  font-size: 20px;
  top: 6px;
  right: 38px;
}

.reply-column__up-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fee501;
  border: none;
  right: 0.5px;
  top: 1px;
}

.reply__column input::placeholder {
  color: var(--gray);
}

.reply__column input:focus {
  outline: none;
}

.reply .reply__column:first-child,
.reply-column__emoticon-btn,
.reply-column__up-btn {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .reply-column__emoticon-btn,
.reply:focus-within .reply-column__up-btn {
  opacity: 0;
}

.reply:focus-within .reply__column > input {
  transform: translateX(-5%);
  border-radius: 13px;
}

.reply:focus-within {
  background-color: inherit;
}
