.friends-name-info {
  width: 100vw;
  height: 35px;
  background-color: rgba(110, 110, 110, 0.1);
  color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  margin-bottom: 20px;
}

.friends-name-info span {
  margin: 0 7px;
}

.my_profil {
  padding-bottom: 20px;
}

.friends-screen__friends-list {
  height: 60%;
}

.friends-screen__friends-list .user-component__column {
  margin-bottom: 15px;
}

.friends-screen__friends-list .user-component__title {
  font-size: 15px;
  font-weight: 500;
}

@keyframes hideSplashScreen {
  form {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(20deg, #2d8adb, #f7c52e);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 0.5s;
}

#splash-screen img {
  width: 400px;
  height: 400px;
}
