.friends-name-info {
  width: 100vw;
  height: 35px;
  background-color: rgba(110, 110, 110, 0.1);
  color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  margin-bottom: 20px;
}

.friends-name-info span {
  margin: 0 7px;
}

.my_profil {
  padding-bottom: 20px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

.friends-screen__friends-header {
  display: flex;
  justify-content: space-between;
  margin: 15px 5px;
  color: var(--gray);
  font-size: 13px;
}

.friends-screen__friends-list {
  height: 60%;
}

.friends-screen__friends-list .user-component__column {
  margin-bottom: 15px;
}

.friends-screen__friends-list .user-component__title {
  font-size: 15px;
  font-weight: 500;
}
