.welcome-message {
  margin: 130px 30px 100px;
  text-align: center;
}

.welcome-message h1 {
  font-size: 20px;
  margin-bottom: 40px;
  font-weight: 600;
}

.welcome-message p {
  color: var(--gray);
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 6px;
}

.login {
  display: flex;
  flex-direction: column;
  margin: 0 40px;
}

#login-form {
  display: flex;
  flex-direction: column;
}

.login-form__input {
  height: 45px;
  border: none;
  border-bottom: 1px solid var(--gray);
  font-size: 15px;
}

.login-form__input::placeholder {
  color: var(--gray);
}

.login-form__input:focus {
  outline: none;
}

.login-form__input:nth-child(2) {
  margin-bottom: 40px;
}

.login-page__btn {
  border: none;
  border-radius: 5px;
  height: 45px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
  cursor: pointer;
}

.login a {
  font-size: 13px;
  color: var(--gray);
  text-align: center;
}
