.screen-header {
  display: flex;
  justify-content: space-between;
  margin: 50px 25px 25px 25px;
}

.screen-header h2 {
  font-size: 25px;
  font-weight: 600;
}

.header__icons i {
  margin-left: 15px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.header__icons .fa-gear:hover {
  animation: rotateCog 1s linear infinite;
}
